[user]
	email=jochamlu@gmail.com
	name=lukasjoc

[core]
	autocrlf=false
	excludesfile=.gitignore
	quotepath=false
	editor=vim

[apply]
	whitespace=fix
	
[help]
	autocorrect=1

[color]
	ui=auto

[alias]
	br=branch
	ch=checkout
	st=status

[filter "lfs"]
	clean=git-lfs clean -- %f
	smudge=git-lfs smudge -- %f
	process=git-lfs filter-process
	required=true

[diff]
	renames=copies

[pull]
	rebase=true

[merge]
	log=true
[http]
	cookiefile = /Users/jochamlu/.gitcookies
