[core]
    autocrlf = false
    excludesfile = .gitignore
    quotepath = false
    editor = vim

[help]
    autocorrect=1

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    br = branch -vv
    bra = branch -a
    ch = checkout
    st = status
    diff = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    last = log --pretty=oneline -n 20 --graph --abbrev-commit
    lg = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%G?)>%Creset' --abbrev-commit
    contrib = shortlog --summary --numbered
    al = !git config -l | grep ^alias | cut -c 7- | sort

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

# Dont rebase after origin pull
[pull]
	rebase = false

# USER AND EMAIL
[user]
	name = lukasjoc
	email = jochamnlu@gmail.com
