" Vim Configuration Slim Version
" Author: lukasjoc

set hidden
set number
set incsearch hlsearch
set pastetoggle=<C-t>
set encoding=utf-8
set viminfo='20,<1000,s1000

set list listchars=tab:\ \ ,trail:.
set backspace=indent,eol,start

" tabs with indent 2
filetype plugin indent on
set autoindent noexpandtab tabstop=2 softtabstop=-1 shiftwidth=2
"--FINALLY! - AFTER LONG HOURS WE DECIDED ON A MECHANISM TO space out our code
" WHAT A DAY :=) -

syntax enable

if has ("autocmd")
	augroup Commenting
		au FileType c,cpp,rust,javascript,java,scala,go,php let b:comment_leader = "// "
		au FileType sh,yml,yaml,bash,python,nim let b:comment_leader = "# "
		au FileType vim let b:comment_leader = '" '
		au FileType tex let b:comment_leader = "% "
		au FileType sql let b:comment_leader = "-- "
	augroup END
endif
