Port 22
LogLevel INFO
PermitRootLogin no
MaxAuthTries 6
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
ClientAliveInterval 240
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
